/* *{
    margin: 10px;
} */
.success_mssg {
    color: rgb(0, 128, 0);
    text-align: center;
}

.error_mssg {
    color: rgb(128, 0, 0);
    text-align: center;
}

.home {
    text-align: center;
    margin: 220px auto;
    width: 50%;
    padding: 30px;
    border: 1px solid black;

}

.navname {
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    text-align: center;
    width: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem 0;
    line-height: 1.5;
    /* cursor: pointer; */
}